extends layout

mixin list(id, ...items)
    ul(id=id)
        each item in items
            li= item

block content
    .container
        if (page.pages > 1)
            ul.pagination
                if (page.page > 1)
                    li
                        a(href='/quotes/?page=1') First
                if (page.page > 4)
                    li
                        a(href='#') ...
                    - for (var index = page.page - 3; index <= page.page+3; index++)
                        if (page.page == index)
                            li.active
                                a(href='/quotes/?page=' + index) #{index}
                        else
                            li
                                a(href='/quotes/?page='+index) #{index}
                        if (index == page.page+3)
                            li
                                a(href='#') ...
                else
                    - for (var index = 1; index <= page.pages; index++)
                        if (page.page == index)
                            li.active
                                a(href='/quotes/?page=' + index) #{index}
                        else
                            li
                                a(href='/quotes/?page=' + index) #{index}
                        if (index == 10)
                            - break
                if (page.page != page.pages )
                    li
                        a(href='/quotes/?page=' + (page.pages)) Last

        div= page.count + "/" + page.page + "/" + page.pages

        each quote in page.data
            div.quote
                p
                    strong
                        a(href='/quotes/authors/'+quote.authorId._id) #{quote.authorId.name}
                    |  - #{quote.text}
                span
                    a.btn.btn-success(href='/edit/quote/'+quote._id) Edit
                    a.btn.btn-danger(href='/delete/quote/'+quote._id) Delete
        div.paginator.paginator--bottom
            a(href='/quotes/?page=1') 1
            a(href='/quotes/?page=2') 2
            a(href='/quotes/?page=3') 3



